{% extends 'dashboard/base.html' %}
{% load static %}

{% block head_css %}
{% endblock %}

{% block head_js %}
{% endblock %}

{% block content %}
  <div class="row">
  <div class="col-md-12 col-sm-12">
    <div class="card">
      <h5 class="card-header">Users by Province</h5>
      <div class="card-body">
        <canvas id="user-by-province" style="height: 100px;"></canvas>
      </div>
    </div>
  </div>
  </div>
  <div class="container mt-3 mb-5 pb-5">
    <h5>Users ({{ all_users|length }})</h5>
    {{ notification }}
    <table id="report_table" class="table table-bordered table-responsive-md small diplay">
      <thead>
      <tr>
        <th>Email</th>
        <th>Username</th>
        <th>Mobile No.</th>
        <th>Province</th>
        <th>User Type</th>
      </tr>
      </thead>
      <tbody>
      {% for key, user in users.items %}
        <tr>
          <td>{{ user.UserEmail }}</td>
          <td>{{ user.UserName }}</td>
          <td>{{ user.UserMobile }}</td>
          <td>{{ user.UserProvince }}</td>
          <td>{{ user.UserType }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function () {
      var table = $("#report_table").DataTable({
        "iDisplayLength": 20
      });

      table.columns().flatten().each(function (colIdx) {
        // Create the select list and search operation
        var select = $('<select />')
          .appendTo(
            table.column(colIdx).footer()
          )
          .on('change', function () {
            table
              .column(colIdx)
              .search($(this).val())
              .draw();
          });

        // Get the search data for the first column and add to the select list
        table
          .column(colIdx)
          .cache('search')
          .sort()
          .unique()
          .each(function (d) {
            select.append($('<option value="' + d + '">' + d + '</option>'));
          });
      });

      function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      };

      var userByProvinceData = {
        labels: [
          {% for key, province in users_by_province.items %}
            '{{ province.name }}',
          {% endfor %}
        ],
        datasets: [{
          data: [
            {% for key, province in users_by_province.items %}
              '{{ province.count }}',
            {% endfor %}
          ],
          backgroundColor: [
            {% for key, province in users_by_province.items %}
              getRandomColor(),
            {% endfor %}
          ],
        }]
      };

      var userByProvinceCtx = document.getElementById('user-by-province').getContext('2d');
      var userByProvinceBar = new Chart(userByProvinceCtx, {
        type: 'bar',
        data: userByProvinceData,
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true
              },
            }]
          },
          responsive: true,
          legend: {
            display: false
          },
          title: {
            display: false,
            text: 'Users by Province'
          }
        }
      });
    })
  </script>
{% endblock %}